@mixin opensans {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.opensans {
	@include opensans;
}

@mixin opensans-light {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.opensans-light {
	@include opensans-light;
}

@mixin opensans-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

.opensans-bold {
	@include opensans-bold;
}