html {
	margin:0;
	height: 100%;
	font-size: 62.5%;

	@include device-width(10) {
		font-size: 61%;
	}

	@include device-width(9) {
		font-size: 60%;
	}

	@include device-width(8) {
		font-size: 59%;
	}

	@include device-width(7) {
		font-size: 58%;
	}

	@include device-width(6) {
		font-size: 57%;
	}

	@include device-width(5) {
		font-size: 56%;
	}

	@include device-width(4) {
		font-size: 55%;
	}
}

body {
	
	height: 100%;
	color: #030303;
	@include font-size(14);
	background: url('../images/backgrounds/site.jpg') center top no-repeat;
	//-webkit-font-smoothing: antialiased;	
	@include opensans;

	@include device-width(12) {
		background: #FFF;
	}
}


// HEADER CALL US

.call-us{
	@extend .clearfix;

	.call-icon {
		width: 15%;
		float: left;
		margin-top: 7px;
	}

	.number{
		width: 85%;
		float: right;
		margin: 0;
	}

	.call-icon{
		&:before {
			@extend [class*="icon-"];
			@extend .icon-mobile:before;
			color: #666666;
			@include font-size(50);			
		}
	}
}// call us

#header {

	.container {
		position: relative;
		background: #FFF;	
		padding: 2em 0;
	}

	.logos{
		width: 20%;
		float: left;
		@include borderbox;

		@media screen and (max-width:440px){
			width: 100%;
		}		

		.logo{
			display: inline-block;
			float: left;

			img{
				max-width: 100%;
				height:auto;
			}
		}	
	}

	#mobile-navigation-btn {
		display: none;
		position: absolute;
		top:2em;
		right: 0;

		a {
			display: inline-block;
			padding:5px 10px;
			text-transform: uppercase;
			border: 1px solid #333;
			@include border-radius(3px);

			&:hover{
				color: #fff;
				background-color: #244787;
			}
		}

		@include device-width(8) {
			display: block;
		}
	}// .mob-menu	

	.nav {
		float: right;
		width: 80%;
		@include borderbox;
		padding-top: 3em;

		@media screen and (max-width:440px){
			display: none;
		}

		.socials {
			text-align: right;
			padding-bottom: 23px;

			> div {
				float: right;
			}

			.tweet-button {
				@include inline-block;
			}
		}
	}

	.display{
		display:inline-block;
	}

	.menu{
		float:right;
		margin: 0;
		padding: 0;

		@include device-width(8) {
			display: none;
		}		

		li{
			float:left;
			width: 46%;
			margin-right: 4%;

			a {
				display: block;
				font-size: 1em;
				text-transform: uppercase;		
				border-bottom: 1px solid #e9e9e9;
				border-top: 1px solid transparent;
				line-height: 2;
				padding: 0 0.5em;

				&:after {
					@extend [class*="icon-"];
					@extend .icon-nav-arrow:before;
					color: #49616d;
					float: right;
					margin-top: 7px;
					margin-right: 5px;					
				}

				&:hover {
					background: #238fbe;
					color: #FFF;
					text-decoration: none;

					&:after {
						color: #FFF;
					}
				}

			}

			&:last-child {
				a {
					border-bottom: none;
				}
			}

			&:nth-child(2), &:nth-child(1), {
				a {
					border-top: 1px solid #e9e9e9;
				}
			}

		}
	}

	.call-iq {
		@include device-width(8) {
			width: 100%;
		}
	}
}

#mobilenav {
	display: none;

	ul {
		padding: 0;
		margin: 0;
	}

	li {

		a {
			display: block;
			font-size: 1em;
			text-transform: uppercase;		
			border-bottom: 1px solid #e9e9e9;
			border-top: 1px solid transparent;
			line-height: 4;
			padding: 0 0.5em;

			&:after {
				@extend [class*="icon-"];
				@extend .icon-nav-arrow:before;
				color: #49616d;
				float: right;
				margin-top: 20px;
				margin-right: 5px;					
			}

			&:hover {
				background: #238fbe;
				color: #FFF;
				text-decoration: none;

				&:after {
					color: #FFF;
				}
			}

		}
	}	
}

#header-image {
	margin-bottom: 20px;

	&.container {
		margin: 0 auto;
	}

	#homepage-scroller {

		$ratio: 440 / 799;
		z-index: 100;

		> .outer {
			position: relative;
			height: 0;
			padding-top: $ratio * 100%;							

			> .inner {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
			}
		}

		.scroller-mask {
			height: 100%;	
		}	
	}

	.scroll-item {
		height: 100%;

		span.title {

			@include font-size(42);
			padding: 0.5em 0.5em 1.5em 0.5em;

			@include device-width(7) {
				@include font-size(18);
			}	

			@include device-width(6) {
				@include font-size(15);
				padding: 10px;
			}	

			@include device-width(5) {
			}										
		}
	}	
}

	.navigation-container {
		margin: 0 auto 26px;
		background: #DDE3ED;


		@include device-width(6) {
			text-align: center;
		}

	
		.mobile-navigation-btn {
			display: none;
	
			@include device-width(6) {
				display: block;
				border: none;
				background: none;
				width: 100%;				
				padding: 10px 0;
				font-size: 20px;

				i {
					@include font-size(20);
					margin-right: 5px;
				}

				&:hover {
				}
			}
		}
	}
	
.main-navigation { 

	@include device-width(6) {
		display: none;
	}		


	> ul {
		margin: 0;
		padding: 0;
	    font-size: 0.1px;

		> li {
		 	display: inline-block;
			position: relative;
			@include transition(all 0.3s ease);

			&:after {
				display: block;
				content: '';
				position: absolute;
				width: 1px;
				height: 41px;
				background: #FFF;
				right: -1px;
				top: 0px;
			}

			&:last-child {
				&:after {
					display: none;
				}
			}

			@include device-width(6) {
				display: block;
				border-bottom: 1px solid #ccc;

				&:first-child {
					border-top: 1px solid #ccc;
				}

				&:after {
					display: none;
				}
			}

		 	> a {
		 		display: inline-block;
		 		@include font-size(15);
		 		padding: 12px 30px;
			 	color: #3C5C75;
			 	font-family: Arial;
			 	font-weight: bold;
			 	text-transform: uppercase;

			 	@include device-width(10) {
			 		@include font-size(13);
			 		padding: 12px 25px;
			 	}

			 	@include device-width(7) {
			 		padding: 12px 16px;
			 	}			 	
				.no-touch & {
				 	&:hover {
				 		color: #123d8d;
				 	}						
				}		 	
		 	}

		 	&.current_page_parent > a,
		 	&.current-menu-item > a,
		 	&.current-category-ancestor > a,
		 	&.current-page-ancestor > a,
		 	&.current-post-ancestor > a,
		 	&.current-menu-parent > a,
		 	&.current-post-parent > a,
		 	&.current > a {
		 		color: #123d8d;
		 	}

		 	.sub-menu {
		 		display: none;
		 	}
			
			/* Submenus */

		 	.sub-menu {
		 		display: none;

		 		@include device-width(8) {
		 			display: block;
		 			width: 100%;
		 			padding: 0;
		 			margin: 0;

	 				li {
	 					display: block;
					 	border-top: 1px solid #ccc;

					 	> a {
					 		
					 		line-height: 19px;
						 	color: #3C5C75;
						 	border-bottom: 1px solid transparent;
						 	text-transform: uppercase;
						 	line-height: 1;	
					 		@include font-size(13);
						 	font-family: Arial;
						 	font-weight: bold;					 		
					 		margin: 0 11px;				 		
					 		padding: 15px 0;
					 		display: block;
					 		border-bottom: 3px solid #F7F7F7;		
					 	}	 					
	 				}
		 		}
		 	}

 			.no-touch & {
			 	&:hover {

			 		.sub-menu {
			 			display: block;
			 			background: #DDE3ED;
			 			padding: 15px;
			 			position: absolute;
			 			z-index: 9999;
			 			border-top: 2px solid #FFF;
			 			@include box-shadow(0px 5px 10px rgba(0, 0, 0, 0.3));

			 			li {
			 				display: block;
			 				border-bottom: 1px solid #FFF;
			 				margin: 5px 0;

			 				a {
			 					display: block;
			 					color: #3C5C75;
			 					@include font-size(13);
							 	font-family: Arial;
							 	font-weight: bold;			 					
			 					text-align: left;
								padding: 8px 0px;
								text-transform: uppercase;
								white-space: nowrap;

								&:hover {
									color: #174686;
								}		 					
			 				}
			 			}
			 		}
			 	}
		 	}


		}
	} 
}

#main {
	@extend .flexbox;

	@include device-width(7) {
		display: block;
	}
}

#page {
	// margin-top: 20px;
	#content {
		background: #FFF;
		width: 70%;
		float: left;
		position: relative;
		padding-bottom: 8em;

		@include device-width(7) {
			width: 100%;
		}

		.content{
			padding:2.8125em;
			
			@media screen and (max-width:480px){
				padding-right:0;
				padding-left:0;
			}
		}

		.post {
			position: relative;
			padding: 20px;

			.section-title {
				color: #3a5461;
				@include font-size(22);
				font-weight: 400;
			}
		}

		.row {
			ul{
				@media screen and (max-width:480px){
					padding-left:0;
				}
			}
			ul, ol {
				li {
					line-height: 1.5;
					padding-left: 15px;
					background: url('../images/misc/list_bullet.jpg') left 2px no-repeat;
					display: block;
					overflow: hidden;
					color: #333;
					margin: 2px 0;

					a {
						color: #174686;

						&:hover {
							text-decoration: underline;
						}
					}					
				}
			}

			&.accordion {
				padding: 2.8125em;
			}	

			ol {

			}		

			p {
				overflow: hidden;

				a {
					color: #174686;

					&:hover {
						text-decoration: underline;
					}
				}
			}			

			table {
				width: 100%;
				@include border-radius(3px); 

				td {
					padding: 15px;
				}


				thead {
					background: #eaecec;
					border: 1px solid #cfcfcf;
				}

				tbody {

					tr:nth-child(even) {background: #fafafa}
					tr:nth-child(odd) {background: #f7f7f7}

					td {
						border: 1px solid #cfcfcf;
						@include font-size(12);
						
						color: #555555;
					}					
				}
			}		

			.images-bar {
				float:left;
				width: 32%;
				margin-right: 3%;

				img {
					margin-bottom: 6px;
				}

				&.not-chosen {
					@include device-width(4) {
						display: none;
					}
				}

				@include device-width(4) {
					width: 100%;
				}
			}

			.content-wrapper {
				float: right;
				width: 65%;

				@include device-width(4) {
					width: 100%;

					img {
						margin: 20px 0;
					}

					.alignright, .alignleft {
						float: none;
						max-width: 100%;
						height: auto;
						display: block;
					}
				}

			}

			.subtitle {
				@include font-size(22);
				border-bottom: 1px solid #174686;
				margin: 30px 0 30px;
			}

			.accordion-item {
				position: relative;
				padding-left: 25px;

				&:after {
					content: "";
					display: block;
					width: 11px;
					height: 8px;
					background: url('../images/misc/faq-arrow.png');
					position: absolute;
					left: 0px;
					top: 5px;		
				}	

				&.open:after {
					content: "";
					display: block;
					width: 11px;
					height: 8px;
					background: url('../images/misc/faq-arrow_up.png');
					position: absolute;
					left: 0px;
					top: 5px;		
				}					

				.trigger {
					@include font-size(18);
					color: #123d8d;

					&:hover {
						text-decoration: underline;
					}					
				}

				.content {
					display: none;

					@include device-width(5) {
						display: block;
					}

					p {
						margin: 0;
					}
				}

				&.open {
					.content {
						display: block;
					}
				}
			}
		}

		.columns {

			.span {
				padding: 13px;

				.inner {
					padding: 15px;
					border: 1px solid #333;	
					position: relative;
					padding-bottom: 50px;

					@media only screen and (max-width: 650px){
						padding-bottom: 15px;
					}

					img {
						float:left;
						margin-right: 15px;
						margin-bottom: 15px;
						max-width: 45%;
						height: auto;

						@include device-width(7) {
							display: none;
						}

						@include device-width(5) {
							display: block;
							max-width: 35%;
						}


					}	

					.button {
						position: absolute;
						right: 20px;
						bottom: 20px;

						@media only screen and (max-width: 650px){
						 	position: static;
						 	width: 100%;
						 	display: block;
						 	@include box-sizing(border-box);
						}						
					}			
				}
			}
		}			
	}

	#sidebar {
		background: #1f607c;
		width: 30%;
		float:right;
		@include borderbox;

		@include device-width(10) {
			width: 30%;
		}		

		@include device-width(7) {
			width: 100%;
		}		

		> ul {
			padding: 0;
			margin: 0;

			li.widget {
				padding: 7%;
				margin-bottom: 20px;
				border-bottom: 1px solid #5c7d8b;
				@include box-sizing(border-box);

				@include device-width(7) {
					width: 100%;					
					float: left;
				}

				@include device-width(5) {
					width: 100%;
					float: none;
				}	

				.textwidget {
					@extend .clearfix;
					position: relative;
					color: #FFF;

					h2 {
						@include font-size(22);
						color: #FFF;
						width: 70%;
						float: left;

						span {
							color: #02dedb;
						}
					}

					i {
						width: 20%;
						position: absolute;
						right: 0;
						bottom: 20px;
						@include font-size(60);
						color: #FFF;
					}
				}

				&.gform_widget{
					margin-bottom: 0;
					background-repeat: no-repeat;
					background-position: top center;
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				}

				&.gform_widget {

					input[type=submit] {
						width: 100%;
					}
				}
			}
		}

		.widget_callback_widget {
			@include box-sizing(border-box);
			background-image: url('../images/backgrounds/callback-bg.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			color: #FFF;

			.request-text {
				border-bottom: 1px solid #5d93a8;

				h2 {
					color: #FFF;
					width: 50%;
					padding-bottom: 5em;
				}
			}

			.call-us {
				@extend .clearfix;
				padding-top: 10px;

				.call-icon:before, .number {
					color: #FFF;
				}
			}

			#cloudIqPopupButton, {
				position: static !important;
				margin-top: 10px;
			}

			.button {
				margin-top: 10px;
			}
		}

		.widget{
			.offscreen{
				margin-top: 0;
				margin-bottom: 0.3em;
				padding-top: 2em;
				padding-left:5%;
				color: #12108d;
				font-size: 1.43em;
				border-top: 1px solid #D1D1D1;
				
				@media screen and (max-width:700px){
					padding-left:0;
				}
			}
		}
	}
}

#alumni {
	.row {
		margin-bottom: 15px;
	}

	.columns {
		margin-bottom: 100px;

		.span {
			width: 50%;
		}
	}
}

#faq {

	.row.first {
		margin-bottom: 35px;
	}

 	#content .row.accordion {
		border-top: none ;
		margin-bottom: 35px;

		h1 {
			font-size: 14px;
			font-weight: normal;
		}	

		.accordion-item {
			position: relative;
			padding: 0;

			&:after {
				left: inherit;
				right: 25px;
				top: 25px;		
			}	

			&.open:after {
				left: inherit;
				right: 25px;
				top: 25px;		
			}
		}			
		
		.accordion-item.open h2 {
			background: #D7D7D7;
		}

		.accordion-item h2 {
			background: #ededed;
			padding: 20px;
			margin: 0.83em 0 0 0;
			box-shadow: 0 2px 2px #bfbfbf;

			.no-touch {
				&:hover {
					cursor: pointer;
					background: #D7D7D7;

					a {
						text-decoration: none;
					}
				}				
			}

			a {
				color: #616161 !important;
				font-size: 13px !important;
			}
		}
		
		.accordion-item .content {
			background: #ededed;
			margin-top: 0;
			padding: 20px;
			font-style: italic;
		}
	}
}

#events {

	.categories {
		margin-bottom: 50px;

		.category {

			@include device-width(5) {
				display: none;
			}

			ul {
				padding: 0;
			}

			.button {
				float: left;
				margin: 5px;

				@include device-width(8) {
					font-size: 12px !important;
					padding: 9px 13px;
				}
			}

			.current {
				.button {
					@extend .button:hover;
				}
			}
		}

		.mobile-category {
			display: none;

			@include device-width(5) {
				display: block;
			}		
		}		
	}

	.row {

		.images-bar {
			@include device-width(4) {
				height: 150px;
				overflow: hidden;

				img {
					margin-top: -15%;
				}
			}
		}

		.button {
			float: right;
			margin-top: 10px;
		}
	}
}


#call-box {
	@extend .clearfix;

	h1.phone-number {
		@include font-size(25);
		margin: 0;
		letter-spacing: -2px;

		@media only screen and (max-width: 1170px){
			@include font-size(22);
		}

		@include device-width(11) {
			@include font-size(20);
		}						

		@media only screen and (max-width: 975px){	
			@include font-size(15);
		}

		@include device-width(7) {
			@include font-size(25);
		}

		@include device-width(6) {
			@include font-size(20);
		}

		@include device-width(5) {
			@include font-size(25);
		}		

	}

	#cloudIqPopupButton {
		margin: 30px 0 0 0;
		display: inline-block;
		position: static;
	}
	
	p {
		margin: 0 !important;
	}
	p b {
		font-size: 12px;
		font-weight: bold;
		color: #123d8d;
	}	
}

#cloudIqPopups {
	@include box-shadow(0px 0px 30px 0px #000);
}

#callmeBackgroundContainer	{
	width: 100% !important;
}



#mba-sidebar {
	@extend .clearfix;

	img {
		width: 100%;
	}
	a.button {
		display: inline-block;
		margin: 15px 0 0 0;
		@extend .right;
	}
}

#call-now {
	min-height: 80px;
	line-height: 80px;
	width: 100%;
	background: #ededed;
	padding: 0 20px;
	@include box-sizing(border-box);

	@include device-width(5) {
		line-height: 40px;
		text-align: center;
		padding: 20px;
	}

	h1 {
		font-size: 18px !important;
		margin: 0;
		@include inline-block;
	}
	a.button {
		margin: 0 0 0 15px;
		padding: 10px;
		line-height: 1;
		@include inline-block;

		@include device-width(5) {
			margin: 0;
		}
	}

	p {
		margin: 0;
		font-size: 11px;
		@include inline-block;
	}
	
	p.number {
		font-size: 18px;
		color: #000;
		@include inline-block;
	}
}
#contact {

	.row {
		margin-bottom: 15px;

	}

	#contact-form {
		max-width: 580px;

		ul {
			border: 1px solid #d6d6d6;
			@extend .clearfix;

			li {
				background: none !important;
				overflow: visible !important;
			}
		}


		label {
			background: #fbfbfb;
			color: #666;
			text-align: right;
			padding: 4% 4% 4% 0;
			float: left;
			width: 30%;
			border-right: 1px solid #dadada;
			margin: 0;
		}

		.ginput_container {
			float: right;
			width: 57%;
			padding: 3%;
		}

		.comment label {
			height: 200px;
		}

		.gfield {
			border: 1px solid #d6d6d6;
			padding-left: 0 !important;
			margin: -1px 0 0 0 !important;
		}
		input[type="text"] {
			padding: 10px;
			width: 100%;
		}
		select {
			margin: 20px 15px !important;
		}
		input[type="submit"] {
			max-width: 157px;
			float: right;
		}
		textarea {
			padding: 2%;
			width: 96%;
			border: 1px solid #aaaaaa;
		}
	}
}


#slideupbox {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	padding: 20px;
	width: 250px;
	z-index: 9999;
	box-shadow: 0 0 5px #174686;

	ul {
		padding: 0;

		li {
			line-height: 1.5;
			padding-left: 15px;
			background: url('../images/misc/list_bullet.jpg') left 2px no-repeat;
			display: block;
			overflow: hidden;
			color: #333;
			margin: 2px 0;			
		}
	}

	.gform_body {

		ul {
			padding: 0;
			margin: 0;

			li {
				background: none;
				padding: 0;
			}
		}
	}

	.close-link {
		position: absolute;
		top: 8px;
		right: 8px;
	}
	&.hide {
		display: none !important;
	}
}

#popup-overlay {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 200px;
	margin-left: -150px;
	margin-top: -100px;
}


		
#footer {
	color: #666666;
	padding: 15px 0;
	border-top: 1px solid #cccccc;
	margin-top: 2em;
	@extend .clearfix; 
	clear: both;
	@include borderbox;
	width: 100%;
	position: absolute;
	bottom: 0;

	.footer-innnnnnner {
		position: relative;
		padding-left: 50px;
		padding-bottom: 20px;

		a {
			position: absolute;
			bottom: 0;
			left: 0;

			img {
				background: #FFF;
				padding: 0 10px;
			}
		}
	}

}

#error {

	.error {
		width: 50%;
		margin: 70px auto;
		@include device-width(6) {
			width: 100%;
		}

		@include font-size(20);

		h1 {
			@include font-size(40);
		}

		span {
			@include font-size(30);
		}
	}
}

.galleries {
	.title {
		@include font-size(30);
		color: #3a5461;
		padding: 0.5em;
		border-bottom: 1px solid #cccccc;
		font-weight: 300;
	}
}

#galleries {
	@extend .clearfix;

	.span {
		@include device-width(5) {
			width: 50%;
		}
	}

	a.gallery {
		margin: 10px 0;
		display: block;
	}

	.front-page-title {
		@include font-size(20);
		color: #3a5461;
		font-weight: 300;
		border-top: 1px solid #ccc;
		padding: 0.5em;
	}
}